
body {
  margin: 0;
  font-style: normal;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
    outline: none;
    background: none;
    border: none;
    padding: 0;
}

* {
    box-sizing: border-box;
}
    
.send_form, 
.text_in_commodity_card > button, 
.basket_button, 
.katalog_button {
    width: 130px;
    height: 30px;
    border-radius: 50px;
    font-family: "Source Sans Pro";
  }
  
  /*------------------------ SLIDER ---------------------------------*/
  .left_right {
    height: 50px;
    margin: 0 auto;
    
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  
  .left_right > ul {
    max-width: 100px;
    overflow-x: hidden;
  }
  
  .left, .buttons, .right {
  display: inline-block;
  height: 18px;
  margin: 0;
}

.left, .right {
  width: 35px;
}

.left {
  opacity: 0.5;
}

.arrow_left, .arrow_right {
  width: 35px;
  position: relative;
}

.left:hover .arrow_left,
.right:hover .arrow_right  {
  background-color: #FFC2C7;
}

.arrow_left,
.arrow_left:before,
.arrow_left:after {
  height: 2px;
  background-color: #D9D9D9;
}

.arrow_left {
  background-color: #D9D9D9;
}

.arrow_left:before,
.arrow_left:after {
  content: "";
  display: block;
  width: 12px;
  border-radius: 1px;
  position: relative;
  right: 2px;
  background-color: inherit;
}

.arrow_left:before {
  transform: translateY(-3.5px) rotate(-45deg);
}

.arrow_left:after {
  transform: translateY(1.5px) rotate(45deg);
}

.arrow_right,
.arrow_right:before,
.arrow_right:after {
  height: 2px;
}

.arrow_right {
  background-color: #D9D9D9;
}

.arrow_right:before,
.arrow_right:after {
  content: "";
  display: block;
  width: 12px;
  border-radius: 1px;
  position: relative;
  left: 27px;
  background-color: inherit;
}

.arrow_right:before {
  transform: translateY(-3.5px) rotate(45deg);
}

.arrow_right:after {
  transform: translateY(1.5px) rotate(-45deg);
}

.buttons {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.checkbox {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.active {
  background-color: #FFC2C7;
}
