/*--------------------- light blue backgraund color header, footer, buttons and number */
$backgraund: #A9BFE4;

/*--------------------- white text */
$wi_text: #FFFFFF;

/*--------------------- pink buttons */
$pi_buttons: #FFC2C7;

/*--------------------- light blue text */
$li_bl_text: #989EC3;