@import "_variables.scss";
@import "_parshels.scss";

/*------------------------ ABOUT US -------------------------------------------*/
.about_us {
    min-height: 390px;
    padding: 0 30px;
}

.about_us > img {
    position: absolute;
    right: 0;
    top: 715px;
    z-index: -1;
}

.div_about_us {
    max-width: 630px;
    height: 100%;
    margin: 0 auto;
}

.nav_in_aboutAs {
    width: 100%;
    min-height: 145px;
    padding: 0;
    margin: 0 auto;
    border: none;
}

.nav_in_aboutAs > ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bouquets, .fresh_flowers, .your_bouquet {
    display: inline-block;
    width: calc(100% / 3);
    min-width: 190px;
    margin: 0;
    height: 145px;
    text-align: center;

    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bouquets {
    background-image: url(img/bouquets.jpg);
}

.fresh_flowers {
    background-image: url(img/natural_flowers.jpg);
}

.your_bouquet {
    background-image: url(img/own_bouquet.png);
}

.button_in_nav_in_aboutAs {
    width: 130px;
    height: 30px;
    margin-top: 108px;
    border: none;
    background: $backgraund;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: 0.1s;
    
    color: $wi_text;
    font-family: "Lora";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.button_in_nav_in_aboutAs:hover {
    transform: scale(1.1);
}

.text_in_aboutAs {
    display: inline-block;
    max-width: 624px;
    padding: 0;
    margin: 46px 0 0 0;
}

.text_in_aboutAs h2 {
    display: block;
    margin: 0 0 12px 0;
    
    font-family: "Lora";
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #351F21;
}

.text_in_aboutAs > div {
    display: block;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.text_in_aboutAs p {
    display: block;
    width: 303px;
    margin: 0 0 0 15.5px;
    text-align: start;
    
    color: #351F21;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.img_in_aboutAs {
    width: 20px;
    height: 96.87px;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
    transform: translateY(-135px) translateX(-25px);
}

.img_in_aboutAs > img {
    width: 100%;
    height: 20px;
    margin-bottom: 14.14px;
}

img[src="images/viber.png"] {
    width: 24px;
    height: 24px;
    position: relative;
    left: -2px;
    margin: 0;
}
  


@media screen and (max-width: 480px) {

    /*------------------------ ABOUT US ----------------------------------------------*/
    .bouquets, .fresh_flowers, .your_bouquet {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .button_in_nav_in_aboutAs {
      margin: auto;
    }
    .text_in_aboutAs p {
      margin: 0 0 79px 0;
    }
}