@import "_variables.scss";
@import "_parshels.scss";



body {
	margin: 0;
	font-style: normal;
}

ul {
	list-style-type: none;
}
button {
	outline: none;
}
* {
	box-sizing: border-box;
}

/*------------------------ NAVIGATION ----------------------------------------------*/
.nav {
	width: 100%;
	height: 70px;
	background-color: $backgraund;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 0 65px;
}
.menu-burger {
	width: 55px;
	height: 50px;
	display: none;
}	
.link {
	display: block;
	width: 50px;
	height: 50px;
	margin: auto;
	background: none;
	border: none;
	border-radius: 20%;
	position: relative;
	transition: 0.1s;
}	
.link > .burger,
.link > .burger:before,
.link > .burger:after {
	position: absolute;
	top: 50%; margin-top: calc(2px/-2);
	left: 50%; margin-left: calc(30px/-2);
	width: 30px;
	height: 2px;
	background-color: #FFF;
	border-radius: 20px;
}
.link > .burger {
	transition: 0.1s;
}
.link > .burger:before,
.link > .burger:after {
	content: '';
	display: block;
	transition: 0.5s;
}
.link > .burger:before {
	transform: translateY(-8px);
}
.link > .burger:after {
	transform: translateY(8px);
}
.link_active {
	display: block;
	width: 50px;
	height: 50px;
	background: none;
	border: none;
	border-radius: 20%;
	position: relative;
}
.link_active > .burger,
.link_active > .burger:before,
.link_active > .burger:after {
	position: absolute;
	top: 50%; margin-top: calc(2px/-2);
	left: 50%; margin-left: calc(30px/-2);
	width: 30px;
	height: 2px;
	background-color: #FFF;
	border-radius: 20px;
}
.link_active > .burger {
	visibility: hidden;
}
.link_active > .burger:before,
.link_active > .burger:after {
	content: '';
	display: block;
	transition: 0.5s;
}
.link_active > .burger:before {
	visibility: visible;
	transform: rotate(-45deg);
}
.link_active > .burger:after {
	visibility: visible;
	transform: rotate(45deg);
}

.logo_in_nav {
	display: block;
	width: 136.48px;
	height: 55px;
	margin: 8px 50px 7px 0;
	float: left;
}
.ul_in_nav {
	display: block;
	max-width: 340px;
	height: 20px;
	margin: 30px 0 20px 0;
	padding: 0;
	position: relative;
	float: left;
}
.ul_in_nav > li {
	display: block;
	color: $wi_text;
	font-family: Lora;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	margin-right: 20px;
	margin-bottom: 5px;
	float: left;
}
.ul_in_nav > li:hover {
	text-decoration: underline;
}
.lupa_basket {
	height: 20px;
	width: 55px;
	margin: 30px 0 20px 0;
	float: right;
	display: inline-flex;
	justify-content: space-between;
}
.lupa, .basket {
	height: 20px;
	margin: auto 0;
}

/*------------------------ HEADER ----------------------------------------------*/
.header {
	height: 455px;
	background-color: #FFF;
	background-image: url(img/bg_web-no-background.png);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: right;
}
.div_header {
	display: block;
	max-width: 630px;
	height: 100%;
	margin: 0 auto;
}
.text_in_header {
	width: 300px;
	padding-top: 163px;
	margin-bottom: 17px;
}
.text_in_header h1 {
	display: block;
	width: 100%;
	height: 64px;
	font-family: 'Lora';
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	color: #351F21;
	margin: 0;
	margin-bottom: 7px;
}
.text_in_header h3 {
	display: block;
	width: 100%;
	height: 63px;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #351F21;
	margin: 0;
}
.nav_in_header {
	width: 282px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.basket_button, .katalog_button {
	@extend %button;
}
.basket_button {
	border: none;
	background: $pi_buttons;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-right: 22px;
}
.katalog_button {
	border: 2px solid $pi_buttons;
}

/*------------------------ MEIN ----------------------------------------------*/

/*------------------------ ABOUT US ----------------------------------------------*/
.about_us {
	min-height: 405px;
	background-color: linear-gradient(to top, rgba(169, 191, 228, 0.3) 35%, #FFF 35%);
	background-image: url(img/abstract_background.png);
	background-repeat: no-repeat;
	background-size: 350px 269.51px;
	background-position: right 210px;
}
.div_about_us {
	max-width: 630px;
	height: 100%;
	margin: 0 auto;
}
.nav_in_aboutAs {
	width: 100%;
	min-height: 145px;
	padding: 0;
	margin: 0 auto;
	border: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.bouquets, .fresh_flowers, .your_bouquet {
	height: 145px;
	width: 210px;
	display: inline-block;
	margin: 0;
	filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bouquets {
	background-image: url(img/bouquets.jpg);
}
.fresh_flowers {
	background-image: url(img/natural_flowers.jpg);
}
.your_bouquet {
	background-image: url(img/own_bouquet.png);
}
.button_in_nav_in_aboutAs {
	width: 130px;
	height: 30px;
	border: none;
	background: $backgraund;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'Lora';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: $wi_text;
	margin-top: 108px;
}
.button_in_nav_in_aboutAs:hover {
	transform: scale(1.1);
}

.text_in_aboutAs {
	display: inline-block;
	width: 324px;
	height: 165px;
	padding: 0;
	margin: 46px 0px 0 0;
	float: left;
}
.text_in_aboutAs dt {
	display: block;
	font-family: 'Lora';
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	color: #351F21;
}
.text_in_aboutAs p {
	display: block;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #351F21;
	margin-left: 15.5px;
	margin-right: 12px;
}
.img_in_aboutAs {
	width: 20px;
	height: 96.87px;
	margin: 0;
	padding: 0;
	text-align: center;
	float: right;
	transform: translateY(-135px) translateX(-25px);
}
.div_about_us > img {
	width: 300px;
	display: inline-block;
	position: relative;
	margin: 91px 0 0 0;
}
.img_in_aboutAs > img {
	width: 100%;
	height: 20px;
	margin-bottom: 14.14px;
}
img[src="images/viber.png"] {
	width: 24px;
	height: 24px;
	position: relative;
	left: -2px;
	margin: 0;
}

/*------------------------ WE WORK FOR YOU --------------------------------------------*/
.section_we_work_for_you {
	min-height: 156px;
	background-color: rgba(169, 191, 228, 0.3);
	background-image: url(img/abstract_background.png);
	background-repeat: no-repeat;
	background-size: 350px 269.51px;
	background-position: right -195.3px;
}
.div_we_work_for_you {
	max-width: 633px;
	height: 100%;
	margin: 0 auto;
	padding-top: 7px;
}
.div_we_work_for_you > h4 {
	width: 224px;
	height: 28px;
	font-family: 'Lora';
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 13px 0;
	padding: 0;
	display: flex;
	align-items: center;
	color: $li_bl_text;
}
.line_wwfy {
	width: 100%;
	height: 105px;
	padding: 0;
	margin: 0;
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.block_in_line_wwfy {
	display: inline-block;
	width: 150px;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}
.block_in_line_wwfy > img {
	
}
.block_in_line_wwfy > figcaption {
	font-weight: 400;
	font-family: 'Source Sans Pro';
	font-size: 11px;
	line-height: 14px;
	text-align: center;
}

/*------------------------ CATALOG --------------------------------------------*/

.catalog {
	width: 100%;
	min-height: 864px;
}
.catalog > img {
	height: 150px;
	position: absolute;
	right: 0;
	margin-top: 0px;
}
.div_catalog {
	width: 636px;
	height: 100%;
	margin: 0 auto;
}
.div_catalog > h1 {
	font-family: 'Lora';
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	display: flex;
	align-items: center;
	color: #351F21;
	margin: 47px 0 49px 0;
	padding: 0;
}
.section_commodity_cards {
	width: 100%;
	min-height: 682px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	/*grid-auto-rows: ;*/
	grid-column-gap: 15px;
	grid-row-gap: 20px;
	margin-bottom: 9px;
}
.commodity_card {
	width: 200px;
	height: 331px;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px #FFC2C7;
}
.commodity_card:hover {
	transform: scale(1.05);
	box-shadow: 0px 4px 8px #ACACAC;
}
.commodity_card > img {
	width: 100%;
	height: 200px;
	margin-bottom: 8px;
}
.text_in_commodity_card > h4 {
	font-family: 'Lora';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
.text_in_commodity_card > .commodity_price {
	font-family: 'Source Sans Pro';
	margin-top: 10px;
	margin-bottom: 11px;
}
.text_in_commodity_card > button {
	@extend %button;
	border: 2px solid $pi_buttons;
	margin: 0 auto;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: $li_bl_text;
}
.left_right {
	width: 176px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.left, .buttons, .right {
	display: inline-block;
	height: 18px;
	margin: 0;
}
.left, .right {
	width: 35px;
}

.arrow_left, .arrow_right {
	width: 35px;
	position: relative;
	top: 50%; margin-top: calc(2px/-2);
}
.arrow_left,
.arrow_left:before,
.arrow_left:after{
	height: 2px;
	background-color: #D9D9D9;
}
.arrow_left:before,
.arrow_left:after {
	content: '';
	display: block;
	width: 12px;
	border-radius: 1px;
	position: relative;
	right: 2px;
}
.arrow_left:before {
	transform: translateY(-3.5px) rotate(-45deg);
}
.arrow_left:after {
	transform: translateY(1.5px) rotate(45deg);
}

.arrow_right,
.arrow_right:before,
.arrow_right:after{
	height: 2px;
	background-color: #FFC2C7;
}
.arrow_right:before,
.arrow_right:after {
	content: '';
	display: block;
	width: 12px;
	border-radius: 1px;
	position: relative;
	left: 27px;
}
.arrow_right:before {
	transform: translateY(-3.5px) rotate(45deg);
}
.arrow_right:after {
	transform: translateY(1.5px) rotate(-45deg);
}

.buttons {
	display: inline-block;
	width: 64px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.buttons > div {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #D9D9D9;
}

/*------------------------ FEEDBACK --------------------------------------------*/

.feedbacks {
	width: 100%;
	min-height: 690px;
	background-color: rgba(169, 191, 228, 0.2);
}
.feedbacks > img {
	height: 250px;
	position: absolute;
	left: 0;
	margin-top: 210px;
}
.div_feedbacks {
	width: 634px;
	height: 100%;
	margin: 0 auto;
	padding-top: 24px;
}
.div_feedbacks > h1 {
	font-family: 'Lora';
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	display: flex;
	align-items: center;
	color: #351F21;
	margin: 0;
	padding: 0;
	margin-bottom: 23px;
}
.feedback {
	max-width: 481px;
	min-height: 105px;
	margin: 0 0 45px 0;
}
.feedback > img {
	height: 100px;
	float: left;
	margin-right: 47px;
}
.text_in_feedback > p {
	width: 100%;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #351F21;
	margin: 0 0 10px 0;
}
.text_in_feedback > h6 {
	font-family: 'Source Sans Pro';
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	color: $li_bl_text;
	margin: 0;
}
.two {
	margin: 0 0 30px 156px;
}
.div_feedbacks > .add_feedback {
	font-family: 'Lora';
	margin: 34px 0 15px 0;
}
.div_feedbacks > form {
	width: 100%;
	height: 180px;
}
form > input, 
form > button {
	display: block;
	border: none;
	outline: none;
}
.name_in_form, .feedback_in_form {
	width: 100%;
	font-family: 'Source Sans Pro';
	background: #FFFFFF;
	border-radius: 10px;
	padding: 0 0 0 12px;
}
.name_in_form {
	height: 29px;
	margin-bottom: 12px;
}
.feedback_in_form {
	height: 94px;
	margin-bottom: 15px;
}
.send_form {
	@extend %button;
	background: $pi_buttons;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: $wi_text;
}

/*------------------------ DELIIVERY AND PAY --------------------------------------------*/

.delivery_and_pay {
	width: 100%;
	min-height: 470px;
	backface-visibility: hidden;
}
.delivery_and_pay > img {
	display: block;
	height: 400px;
	position: absolute;
	right: -102px;
	top: 2900px;
	transform: rotate(-45deg);
	backface-visibility: hidden;
}
.div_delivery_and_pay {
	max-width: 640px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}
.div_delivery_and_pay > h1 {
	font-family: 'Lora';
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	color: #351F21;
	margin: 44px 0 28px 0;
	padding: 0;
}
.options {
	width: 100%;
	min-height: 317px;
	margin-top: 27px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 40px;
}
.option {
	width: 200px;
	height: 125px;
	margin: 0;
	text-align: center;
}
.number {
	width: 65px;
	height: 65px;
	box-shadow: 0px 4px 8px #FFC2C7;
	border-radius: 50%;
	margin: 0 auto 16px auto;
	padding-top: 0.2em;
	font-family: 'Lora';
	font-weight: 400;
	font-size: 40px;
	line-height: 51px;
	text-align: center;
	color: $backgraund;
	backdrop-filter: blur(4px);

}
.option > figcaption {
	max-width: 200px;
	min-height: 52px;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #351F21;
}

/*------------------------ FOOTER --------------------------------------------*/

.footer {
	width: 100%;
	height: 185px;
	background: $backgraund;
}
.div_footer {
	width: 628px;
	height: 100%;
	margin: 0 auto;
	padding-top: 6px;
}
.div_footer > img {
	display: block;
	margin: 0 auto 19px auto;
}
.contacts,
.information,
.catalog_in_footer {
	width: 130px;
	height: 85px;
	float: left;
}
.contacts > h4,
.information > h4,
.catalog_in_footer > h4 {
	font-family: 'Lora';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: $wi_text;
	margin: 0 0 10px 0;
	padding: 0;
}
.contacts > ul,
.information > ul,
.catalog_in_footer > ul {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 11px;
	line-height: 14px;
	color: $wi_text;
	padding: 0;
	margin: 0;
}
.contacts > ul > li {
}
li > a {
	text-decoration: none;
	color: $wi_text;
}
.follow_contacts {
	width: 236px;
	height: 93px;
	float: left;
	text-align: center;
}
.form_follow {
	width: 236px;
	height: 26px;
	background: #FFFFFF;
	border-radius: 50px;
	padding-left: 12px;
	display: inline-flex;
	justify-content: space-between;
}
.form_follow > input {
	width: 130px;
	height: 100%;
	font-weight: 300;
	font-size: 10px;
	line-height: 13px;
	color: #ACACAC;
}
.form_follow > button {
	background: $pi_buttons;
	border-radius: 50px;
	width: 89px;
	height: 100%;
	font-weight: 400;
	font-size: 10px;
	line-height: 13px;
	text-align: center;
	color: #FFFDFD;
}
.contacts_in_f_c {
	display: block;
	width: 95px;
	height: 25.87px;
	margin: 13px auto 17px auto;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.contacts_in_f_c > img[src="images/inst.png"],
.contacts_in_f_c > img[src="images/fb.png"] {
	width: 20px;
	height: 22.86px;
}
.contacts_in_f_c > img[src="images/viber.png"] {
	height: 100%;
}
.follow_contacts > a {
	display: inline-block;
	width: 100%;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 11px;
	line-height: 14px;
	color: $wi_text;
	text-align: start;
	top: 0;
	opacity: 0.3;
}

.div_footer_mob {
	display: none;
	width: 330px;
	height: 100%;
	margin: 0 auto;
	padding-top: 17px;
}
.div_footer_mob > div{
	width: 330px;
	height: 85px;
	display: flex;
	justify-content: space-between;
}
.div_footer_mob > a {
	font-family: 'Source Sans Pro';
	font-weight: 600;
	font-size: 11px;
	line-height: 14px;
	display: flex;
	align-items: center;
	color: $wi_text;
	margin-bottom: 4px;
}
.div_footer_mob > img {
	display: block;
	width: 106.7px;
	height: 43px;
	margin: 0 auto;
}



@media screen and (max-width:  480px) {

	/*------------------------ NAVIGATION ----------------------------------------------*/
	.nav {
		height: 59px;
		padding: 0 23px;
		display: inline-flex;
		justify-content: space-around;
		align-items: center;
	}
	.menu-burger {
		display: block;
	}
	.logo_in_nav {
		width: 106.7px;
		height: 43px;
		margin: 0 auto;
		float: none;
	}
	.ul_in_nav {
		display: none;
	}
	.lupa_basket {
		margin: 0;
	}

	/*------------------------ HEADER --------------------------------------------*/
	.header {
		height: 531px;
		background-image: url(img/bg_mob-no-background.png);
		background-size: 85%;
		background-position: top;
		margin: 0;
	}
	.div_header {
		max-width: 325px;
		padding-top: 314px;
	}
	.text_in_header {
		display: block;
		margin: 0 auto 19px auto;
		padding-top: 0;
		text-align: center;
	}
	.nav_in_header {
		margin: 0 auto;
	}

	/*------------------------ ABOUT US ----------------------------------------------*/
	.about_us {
		background-size: 291.27px 229px;
		background-position: right 702.7px;
	}
	.div_about_us {
		max-width: 330px;
	}
	.bouquets, .fresh_flowers, .your_bouquet {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.button_in_nav_in_aboutAs {
		margin: auto;
	}
	.text_in_aboutAs p {
		margin-left: 0;
	}
	.div_about_us > img {
		margin-top: 79px;
		margin-bottom: 0;
		transform: translateY(4px);
	}

	/*------------------------ WE WORK FOR YOU --------------------------------------------*/
	.section_we_work_for_you {
		min-height: 294px;
		padding: 0 35px;
		background: rgba(169, 191, 228, 0.3);
	}
	.block_in_line_wwfy {
		margin-bottom: 10px;
	}

	/*------------------------ CALALOG --------------------------------------------*/
	.div_catalog {
		max-width: 331px;
		margin: 0 auto;
	}
	.catalog > img {
		display: none;
	}
	.div_catalog > h1 {
		margin: 33px 0 20px 0;
	}
	.section_commodity_cards {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		/*grid-auto-rows: ;*/
		grid-column-gap: 15px;
		grid-row-gap: 20px;
		margin-bottom: 9px;
	}
	.commodity_card {
		width: 155px;
		height: 300px;
	}
	.commodity_card > img {
		height: 155px;
	}
	.text_in_commodity_card > h4 {
		font-size: 13px;
		line-height: 17px;
	}
	
	/*------------------------ FEEDBACK --------------------------------------------*/
	.feedbacks {
		height: 920px;
	}
	.feedbacks > img {
		display: none;
	}
	.div_feedbacks {
		max-width: 332px;
	}
	.feedback {
		width: 100%;
		height: 235px;
		margin: 0 0 10px 0;
	}
	.feedback > img {
		display: block;
		height: 100px;
		float: none;
		margin: 0 auto 17px auto;
	}
	.text_in_feedback > p {
		margin: 0 0 10px 0;
	}
	.two {
		margin-bottom: 16px;
	}
	.name_in_form, .feedback_in_form, .send_form {
		border-radius: 0;
	}

	/*------------------------ DELIIVERY AND PAY --------------------------------------------*/
	.delivery_and_pay {
		height: 520px;
	}
	.div_delivery_and_pay {
		max-width: 344px;
	}
	.div_delivery_and_pay > h1 {
		margin: 32px 0 39px 0;	
	}
	.options {
		margin-top: 27px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 5px;
		grid-row-gap: 20px;
	}
	.option {
		width: 156px;
		height: 124px;
	}
	.option > figcaption {
		font-size: 12px;
		line-height: 15px;
	}

	/*------------------------ FOOTER --------------------------------------------*/
	.div_footer {
		display: none;
	}
	.div_footer_mob {
		display: block;
	}
	.contacts,
	.information,
	.catalog_in_footer {
		width: 90px;
		float: none;
	}
}